.counter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.counter-container {
  margin: 0;
  padding: 5px;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dfdfdf9a;
  border-radius: 7px;
  box-shadow: 4px 4px 4px rgba(148, 148, 148, 0.5);
}
.counter-container button {
  width: 150px;
  height: 30px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background: #dc78dc;
  box-shadow: 1px 2px 2px 2px rgba(220, 120, 220, 0.4);
  opacity: 0.8;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}
.counter-container button:nth-child(3) {
  margin-top: 10px;
}

.counter-container button:nth-child(4) {
  margin-top: 10px;
}

.counter-container button:hover {
  background: #f789f7;
  color: #2b2b2b;
  transition: ease 0.7s;
}
.counter-number {
  margin-bottom: 10px;
  padding: 5px;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 1.5rem;
  text-decoration: underline;
  border-radius: 5px;
  background: #ededed;
  box-shadow: 2px 2px 2px 2px rgba(117, 117, 117, 0.2);
}
/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
